@import "tailwindcss";

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Regular.ttf") format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-VariableFont_wght.ttf") format('truetype');
  font-weight: 100 1000;
  font-display: swap;
}

@theme {
  --font-lato: "Lato", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --color-base: "#F5F5F5";
  --color-text: "#2B2B2B";
  --color-accent-blue: "#1E3A5F";
  --color-accent-yellow: "#FFC107";
}