---
import asesoramiento from "/public/fotos/asesoramiento.svg";
import seguroamedida from "/public/fotos/seguroamedida.svg";
import mediador from "/public/fotos/mediadoratulado.svg";
---

<section class="bg-okcl-base py-10 px-5">
  <p class="text-center text-3xl mb-10">¿Por qué con Seguros Agsan?</p>
  <div class="flex flex-row justify-evenly items-center text-center">
    <div class="flex flex-col gap-3 justify-center items-center w-[30%]">
      <img src={asesoramiento.src} alt="Asesoramiento Icon" class="h-30" />
      <p class="text-xl">Asesoramiento</p>
      <p class="text-lg">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis adipisci
        esse, quasi dicta et, tempora atque harum similique earum molestias
        ducimus ab. Veniam iusto harum natus, architecto quae omnis nemo?
      </p>
    </div>
    <div class="flex flex-col gap-3 justify-center items-center w-[30%]">
      <img src={seguroamedida.src} alt="Seguro Modular Icon" class="h-30" />
      <p class="text-xl">Seguro Modular a Medida</p>
      <p class="text-lg">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis adipisci
        esse, quasi dicta et, tempora atque harum similique earum molestias
        ducimus ab. Veniam iusto harum natus, architecto quae omnis nemo?
      </p>
    </div>
    <div class="flex flex-col gap-3 justify-center items-center w-[30%]">
      <img src={mediador.src} alt="Mediador a tu lado Icon" class="h-30" />
      <p class="text-xl">Tu mediador siempre a tu lado</p>
      <p class="text-lg">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis adipisci
        esse, quasi dicta et, tempora atque harum similique earum molestias
        ducimus ab. Veniam iusto harum natus, architecto quae omnis nemo?
      </p>
    </div>
  </div>
</section>
