---
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<title>Seguros Agsan -- Agente de Seguros Generali</title>
	</head>
	<body class="font-montserrat">
		<header
			class="sticky top-0 flex flex-row items-center font-lato
			md:px-7 md:py-5 text-okcl-blue justify-between"
		>
			<a href="/" class="flex flex-row items-center gap-2">
				<img src="/favicon.png" alt="Seguros Agsan Icon" class="w-8" />
				<h1 class="text-xl md:text-2xl font-bold">Seguros Agsan</h1>
			</a>
			<nav class="md:max-w-[50%]">
				<ul class="flex flex-row gap-10 items-center text-xl font-semibold">
					<li class=""><a href="">Particulares</a></li>
					<li><a href="">Empresas</a></li>
					<li><a href="">Autónomos</a></li>
					<li><a href="">Contacto</a></li>
				</ul>
			</nav>
		</header>
		<main>
			<slot />
		</main>
		<footer><nav></nav></footer>
	</body>
</html>

<script></script>
